@keyframes progress50 {
    from {
        width: 0%;
    }
    30% {
    }
    to {
        width: 50%;
    }
 }
 
 /* Apply the animations with fill mode to retain final color */
 #progressBar1 {
    animation: progress50 3s ease-in-out forwards;
    animation-fill-mode: forwards;
 }

.cart-table th, .cart-table td {
    vertical-align: middle;
}

.quantity-btn {
    align-items: center;
}

.total-price {
    font-weight: bold;
}

.remove-btn {
    cursor: pointer;
}

.checkout-container {
    margin-top: 20px;
    text-align: right;
}



.emoji {
    font-size: 10rem;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

