::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffb700;
    border-radius: 10px;
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffcd4e;
}

.text-content {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content2 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content3 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content4 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content5 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content6 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content7 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content8 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-content9 {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show only 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ::placeholder{
    color: #ffffff !important;
  }